ellipsis()
    white-space nowrap
    text-overflow ellipsis 
    overflow hidden            
location()
    position absolute 
    right 0.2rem
    bottom 0
    top 0
    width 0.3rem
    height 0.3rem
    margin auto
    font-size .3rem
    color #999    